@font-face {
    font-family: "Source Sans Pro";
    src: url("../assets/fonts/HamburgSans-Regular.woff") format('woff');
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../assets/fonts/HamburgSans-Bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../assets/fonts/HamburgSans-BoldItalic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../assets/fonts/HamburgSans-Italic.woff") format('woff');
    font-style: italic;
}